/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
  overflow-x: hidden;
}
@media only screen and (max-width: 75em) {
  body {
    padding: 0;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
}

.heading-pri {
  text-transform: uppercase;
}
.heading-pri--main {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 1.1rem;
  animation: moveFromLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  padding-bottom: 3rem;
}
@media only screen and (max-width: 75em) {
  .heading-pri--main {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1.05rem;
    padding-bottom: 2.5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .heading-pri--main {
    font-size: 4.5rem;
    font-weight: 700;
    letter-spacing: 1rem;
    padding-bottom: 3rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .heading-pri--main {
    font-size: 5.7rem;
    font-weight: 700;
    letter-spacing: 0.95rem;
    padding-bottom: 2rem;
  }
}
.heading-pri--sub {
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 1rem;
  animation: moveFromRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.2rem;
}

.hs-color-blue {
  background-image: linear-gradient(to right, #2998ff, #5643fa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hs-color-green {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: #f7f7f7;
}

.hs-color-orange {
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hs-color-red {
  background-image: linear-gradient(to right, #df6464, #cc2525);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hs-color-purple {
  background-image: linear-gradient(to right, #aa50a8, #891477);
  -webkit-background-clip: text;
  background-clip: text;
  color: #f7f7f7;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.paragraph-large {
  font-size: 1.76rem;
}
.paragraph-large:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-small {
    margin-bottom: 0.5rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-medium {
    margin-bottom: 2rem !important;
  }
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}
@media only screen and (max-width: 56.25em) {
  .u-margin-bottom-big {
    margin-bottom: 4rem !important;
  }
}

.u-margin-bottom-very-big {
  margin-bottom: 15rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-top-very-huge {
  margin-top: 60rem !important;
}
@media only screen and (max-width: 37.5em) {
  .u-margin-top-very-huge {
    margin-top: 0rem !important;
  }
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}
.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}
.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
.btn--white {
  background-color: #fff;
  color: #777;
}
.btn--white::after {
  background-color: #fff;
}
.btn--green {
  background-color: #7ed56f;
  color: #fff;
}
.btn--green::after {
  background-color: #7ed56f;
}
.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.75s;
  animation-fill-mode: backwards;
}

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #7ed56f;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #7ed56f;
  padding: 3px;
  transition: all 0.2s;
}
.btn-text:hover {
  background-color: #7ed56f;
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}
.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0);
}

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  .popup {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.popup__content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 75%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  display: table;
  overflow: hidden;
  opacity: 0;
  transform: translate(-50%, -50%) scale(0.25);
  transition: all 0.5s 0.2s;
}
.popup__left {
  width: 33.333333%;
  display: table-cell;
}
.popup__right {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}
.popup__img {
  display: block;
  width: 100%;
}
.popup__text {
  font-size: 1.4rem;
  margin-bottom: 4rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid #eee;
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid #eee;
  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup__close:link, .popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all 0.2s;
  line-height: 1;
}
.popup__close:hover {
  color: #7ed56f;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flow-root;
}
.row:not(:last-child) {
  margin-bottom: 6rem;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 8rem;
}
@media only screen and (max-width: 56.25em) {
  .row [class^=col-] {
    width: 100% !important;
  }
}
.row .col-1-of-2 {
  width: calc((100% - 8rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 8rem) / 3);
}
.row .col-2-of-3 {
  width: calc(
      2 * ((100% - 2 * 8rem) / 3) + 8rem
    );
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 8rem) / 4);
}
.row .col-2-of-4 {
  width: calc(
      2 * ((100% - 3 * 8rem) / 4) + 8rem
    );
}
.row .col-3-of-4 {
  width: calc(
      3 * ((100% - 3 * 8rem) / 4) + 2 * 8rem
    );
}

.header {
  height: 95vh;
  max-width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/stones-g93c526508_1920.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
@media only screen and (max-width: 75em) {
  .header {
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  }
}
@media only screen and (max-width: 56.25em) {
  .header {
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
@media only screen and (max-width: 37.5em) {
  .header {
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  }
}
.header__logo-box {
  padding-top: 2%;
}
.header__logo {
  width: 28%;
  display: block;
  margin: 0 auto;
}
@media only screen and (max-width: 75em) {
  .header__logo {
    width: 30%;
  }
}
@media only screen and (max-width: 56.25em) {
  .header__logo {
    width: 32%;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__logo {
    width: 43%;
  }
}
.header__text-box {
  color: #333;
  text-align: center;
  padding-top: 5rem;
}
@media only screen and (max-width: 75em) {
  .header__text-box {
    padding-top: 10rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .header__text-box {
    padding-top: 12rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .header__text-box {
    padding-top: 15rem;
  }
}

.navigation {
  position: relative;
}

.btn-mobile-nav {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 8rem;
  width: 8rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 75em) {
  .btn-mobile-nav {
    top: 5rem;
    right: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .btn-mobile-nav {
    top: 4rem;
    right: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .btn-mobile-nav {
    top: 3rem;
    right: 3rem;
  }
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
  transform: scale(90%);
}

.icon-mobile-nav[name=close-outline] {
  display: none;
}

.main-nav {
  background-color: rgba(255, 255, 255, 0.98);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  z-index: 1500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
  /* Hide navigation */
  /* Allows NO transitions at all */
  /* display: none; */
  /* 1) Hide it visually */
  opacity: 0;
  /* 2) Make it unaccessible to mouse and keyboard */
  pointer-events: none;
  /* 3) Hide it from screen readers */
  visibility: hidden;
}

.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.nav-open .icon-mobile-nav[name=close-outline] {
  display: block;
}

.nav-open .icon-mobile-nav[name=menu-outline] {
  display: none;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  flex-direction: column;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 2.5rem;
  color: #ff7730;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffb900 50%);
  background-size: 220%;
  transition: all 0.4s;
}

.main-nav-link:hover,
.main-nav-link:active {
  background-position: 100%;
  color: #fff;
  transform: translateX(1rem);
}

.businesscard {
  position: relative;
}

.btn-mobile-bc {
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  height: 8rem;
  width: 8rem;
  position: fixed;
  top: 6rem;
  left: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 75em) {
  .btn-mobile-bc {
    top: 5rem;
    left: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .btn-mobile-bc {
    top: 4rem;
    left: 4rem;
  }
}
@media only screen and (max-width: 37.5em) {
  .btn-mobile-bc {
    top: 3rem;
    left: 3rem;
  }
}

.icon-mobile-bc {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
  transform: scale(90%);
}

.icon-mobile-bc[name=close-outline] {
  display: none;
}

.businesscard-nav {
  background-color: rgba(255, 255, 255, 0.98);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(-100%);
  z-index: 1500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
  /* Hide navigation */
  /* Allows NO transitions at all */
  /* display: none; */
  /* 1) Hide it visually */
  opacity: 0;
  /* 2) Make it unaccessible to mouse and keyboard */
  pointer-events: none;
  /* 3) Hide it from screen readers */
  visibility: hidden;
}

.bc-open .businesscard-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.bc-open .icon-mobile-bc[name=close-outline] {
  display: block;
}

.bc-open .icon-mobile-bc[name=call-outline] {
  display: none;
}

.bc-open .icon-mobile-bc[name=mail-outline] {
  display: none;
}

.businesscard-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  flex-direction: column;
  gap: 4.8rem;
}

.businesscard-link:link,
.businesscard-link:visited {
  font-size: 2.5rem;
  color: #ff7730;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #ffb900 50%);
  background-size: 220%;
  transition: all 0.4s;
}

.businesscard-link:hover,
.businesscard-link:active {
  background-position: 100%;
  color: #fff;
  transform: translateX(1rem);
}

.iza {
  font-size: 4.8rem;
}

.section-about {
  background-color: #f7f7f7;
  padding-top: 17rem;
  margin-top: -20vh;
}
.section-about .rowflex {
  max-width: 114rem;
  margin: 0 auto;
  display: flex;
  column-gap: 12rem;
  justify-content: space-between;
}
@media only screen and (max-width: 56.25em) {
  .section-about .rowflex {
    column-gap: 4rem;
  }
}
.section-about .rowflex .izuka {
  display: block;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.section-about2 {
  background-color: #f7f7f7;
  color: #fff;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.section-about2 .feature-box {
  max-width: 114rem;
  margin: 0 auto;
  background-image: linear-gradient(rgba(41, 152, 255, 0.7), rgba(41, 152, 255, 0.7)), url("../img/stones-g93c526508_1920.jpg");
  padding: 2.5rem 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  margin-bottom: 3rem;
  transform: skewY(-2deg);
  font-size: 1.76rem;
  position: relative;
}
.section-about2 .feature-box .fb-span {
  position: absolute;
  left: 0;
  top: -2rem;
  color: #fff;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 2.08rem;
  background-image: linear-gradient(rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
  transform: skewY(2deg);
}

.section-quotes {
  height: 150vh;
  max-width: 100%;
  background-image: linear-gradient(rgba(126, 213, 111, 0.6), rgba(126, 213, 111, 0.6)), url("../img/stones-g59bf854f1_1920.jpg");
  background-size: cover;
  background-position: top;
  padding-top: 5rem;
}

.quote {
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 4rem;
  height: 23rem;
}
.quote-figure {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem);
  position: relative;
  background-size: cover;
  background-position: top;
}
.quote-caption {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 20%);
  text-transform: uppercase;
  font-size: 2.08rem;
  text-align: center;
  color: #fff;
}
.quote-text {
  font-size: 1.36rem;
  padding-top: 1rem;
  color: #333;
}
.quote_img {
  height: 100%;
  filter: blur(2px) brightness(70%);
}

.section-logopedia {
  background-color: #f7f7f7;
  padding: 10rem 0;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
@media only screen and (max-width: 56.25em) {
  .section-logopedia {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }
}
@media only screen and (max-width: 56.25em) {
  .section-logopedia .logo-text1 {
    width: 75%;
    margin: 0 auto;
    padding-bottom: 5rem;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-logopedia .logo-text2 {
    width: 75%;
    margin: 0 auto;
  }
}
.section-logopedia .paragraph {
  padding-right: 5rem;
}
@media only screen and (max-width: 56.25em) {
  .section-logopedia .paragraph {
    padding-right: 0;
  }
}
@media only screen and (max-width: 56.25em) {
  .section-logopedia .top {
    display: none;
  }
}
.section-logopedia .img-kislany .kislany {
  width: 90%;
  left: 10rem;
  top: 0;
  box-shadow: 0 1rem 2rem rgba(255, 119, 48, 0.2);
}
@media only screen and (max-width: 56.25em) {
  .section-logopedia .img-kislany .kislany {
    width: 40%;
    display: block;
    margin: 0 auto;
  }
}
.section-logopedia .bottom {
  display: none;
}
@media only screen and (max-width: 56.25em) {
  .section-logopedia .bottom {
    display: contents;
  }
  .section-logopedia .bottom .img-kislany {
    margin-bottom: 10rem;
  }
}

.section-nyelvlokes {
  max-width: 100%;
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(170, 80, 168, 0.5), rgba(137, 20, 119, 0.5)), url(../img/sea-stones-g33b8e1112_1920.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
.section-nyelvlokes > * {
  transform: skewY(7deg);
}

.nyelvlokes-text {
  color: #f7f7f7;
  font-size: 1.76rem;
  padding: 1rem 20rem;
}
@media only screen and (max-width: 37.5em) {
  .nyelvlokes-text {
    padding: 1rem 5rem;
  }
}

.nyelvlokes-head-text {
  color: #f7f7f7;
  font-size: 2.4rem;
  background-color: #891477;
  padding: 3rem 20rem;
}
@media only screen and (max-width: 37.5em) {
  .nyelvlokes-head-text {
    padding: 1rem 5rem;
  }
}

.nyelvlokes-area {
  position: relative;
}

.nyelvlokes-gomb {
  color: #f7f7f7;
  border-radius: 50%;
}
.nyelvlokes-gomb-1 {
  background-color: #2998ff;
  height: 30.8rem;
  width: 30.8rem;
  position: absolute;
  left: 15rem;
  top: 11rem;
}
@media only screen and (max-width: 37.5em) {
  .nyelvlokes-gomb-1 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}
.nyelvlokes-gomb-2 {
  background-color: #ffb900;
  height: 30.8rem;
  width: 30.8rem;
  position: absolute;
  left: 70rem;
  top: 14rem;
}
@media only screen and (max-width: 37.5em) {
  .nyelvlokes-gomb-2 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    margin-top: -12%;
  }
}
.nyelvlokes-gomb-3 {
  background-color: #7ed56f;
  height: 35.2rem;
  width: 35.2rem;
  position: absolute;
  left: 43rem;
  top: -4rem;
}
@media only screen and (max-width: 37.5em) {
  .nyelvlokes-gomb-3 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    margin-top: -12%;
  }
}
.nyelvlokes-gomb-4 {
  background-color: #aa50a8;
  height: 33rem;
  width: 33rem;
  position: absolute;
  left: 40rem;
  top: 23rem;
}
@media only screen and (max-width: 37.5em) {
  .nyelvlokes-gomb-4 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    margin-top: -12%;
  }
}

.nyelvlokes-text-cell {
  text-align: center;
  padding: 5rem 2rem;
  font-size: 2.08rem;
}

.nyelv-text-top {
  text-transform: uppercase;
  padding: 2rem 2rem;
  border-bottom: 1px dashed #f7f7f7;
}

.nyelv-text-bottom {
  padding: 2rem 2rem;
}

.section-tulerzekeny {
  background-color: #f7f7f7;
  margin-top: -10rem;
  padding: 20rem 0 10rem 0;
}
.section-tulerzekeny .paragraph {
  padding-right: 5rem;
}
.section-tulerzekeny .img-kisgyerek .kisgyerek {
  width: 90%;
  left: 10rem;
  top: 0;
  box-shadow: 0 1rem 2rem rgba(204, 37, 37, 0.2);
}
@media only screen and (max-width: 56.25em) {
  .section-tulerzekeny .img-kisgyerek .kisgyerek {
    width: 40%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
  }
}

.copyright {
  height: 15rem;
  background-color: #333;
  color: #f7f7f7;
  text-align: center;
  padding: 7rem 0;
}

a:link,
a:visited {
  text-decoration: none;
  color: #1098ad;
}

a:hover {
  color: orangered;
  text-decoration: underline orangered;
}/*# sourceMappingURL=main.css.map */