/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@keyframes moveFromLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem);
  }
  80% {
    transform: translateX(2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
@keyframes moveFromRight {
  0% {
    opacity: 0;
    transform: translateX(10rem);
  }
  80% {
    transform: translateX(-2rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}
@media (max-width: 75em) {
  html {
    font-size: 56%;
  }
}
@media (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}
@media (max-width: 37.5em) {
  html {
    font-size: 44%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;
}
@media (max-width: 75em) {
  body {
    padding: 0;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.6;
  color: #777;
}

.heading-pri {
  text-transform: uppercase;
}
.heading-pri--main {
  font-size: 6rem;
  font-weight: 700;
  letter-spacing: 1.1rem;
  animation: moveFromLeft;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  padding-bottom: 3rem;
}
@media (max-width: 75em) {
  .heading-pri--main {
    font-size: 5rem;
    font-weight: 700;
    letter-spacing: 1.05rem;
    padding-bottom: 2.5rem;
  }
}
@media (max-width: 56.25em) {
  .heading-pri--main {
    font-size: 4rem;
    font-weight: 700;
    letter-spacing: 1rem;
    padding-bottom: 2rem;
  }
}
@media (max-width: 37.5em) {
  .heading-pri--main {
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 0.95rem;
    padding-bottom: 1.5rem;
  }
}
.heading-pri--sub {
  font-size: 1.75rem;
  font-weight: 700;
  letter-spacing: 1rem;
  animation: moveFromRight;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@media (max-width: 75em) {
  .heading-pri--sub {
    font-size: 1.7rem;
    letter-spacing: 0.95rem;
  }
}
@media (max-width: 56.25em) {
  .heading-pri--sub {
    font-size: 1.6rem;
    letter-spacing: 0.9rem;
  }
}
@media (max-width: 37.5em) {
  .heading-pri--sub {
    font-size: 1.5rem;
    letter-spacing: 0.85rem;
  }
}

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.2rem;
}

.hs-color-blue {
  background-image: linear-gradient(to right, #2998ff, #5643fa);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hs-color-green {
  background-image: linear-gradient(to right, #7ed56f, #28b485);
  -webkit-background-clip: text;
  background-clip: text;
  color: #f7f7f7;
}

.hs-color-orange {
  background-image: linear-gradient(to right, #ffb900, #ff7730);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hs-color-red {
  background-image: linear-gradient(to right, #df6464, #cc2525);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hs-color-purple {
  background-image: linear-gradient(to right, #aa50a8, #891477);
  -webkit-background-clip: text;
  background-clip: text;
  color: #f7f7f7;
}

.heading-tertiary {
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #333;
}

.paragraph {
  font-size: 1.6rem;
}
.paragraph:not(:last-child) {
  margin-bottom: 3rem;
}

.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-bottom-very-big {
  margin-bottom: 15rem !important;
}

.u-margin-top-medium {
  margin-top: 4rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}

.u-margin-top-huge {
  margin-top: 10rem !important;
}

.u-margin-top-very-huge {
  margin-top: 60rem !important;
}

.row {
  max-width: 114rem;
  margin: 0 auto;
  display: flow-root;
}
.row:not(:last-child) {
  margin-bottom: 6rem;
}
.row [class^=col-] {
  float: left;
}
.row [class^=col-]:not(:last-child) {
  margin-right: 8rem;
}
.row .col-1-of-2 {
  width: calc((100% - 8rem) / 2);
}
.row .col-1-of-3 {
  width: calc((100% - 2 * 8rem) / 3);
}
.row .col-2-of-3 {
  width: calc(
      2 * ((100% - 2 * 8rem) / 3) + 8rem
    );
}
.row .col-1-of-4 {
  width: calc((100% - 3 * 8rem) / 4);
}
.row .col-2-of-4 {
  width: calc(
      2 * ((100% - 3 * 8rem) / 4) + 8rem
    );
}
.row .col-3-of-4 {
  width: calc(
      3 * ((100% - 3 * 8rem) / 4) + 2 * 8rem
    );
}

.header {
  height: 95vh;
  max-width: 100%;
  background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url("../img/stones-g93c526508_1920.jpg");
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;
}
.header__logo-box {
  position: absolute;
  left: 50rem;
  top: 4rem;
}
.header__logo {
  height: 18rem;
}
.header__text-box {
  color: #333;
  text-align: center;
  padding-top: 25rem;
}

.navigation__checkbox {
  display: none;
}
.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}
.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  right: 6.5rem;
  background-image: radial-gradient(#ffb900, #ff7730);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
}
.navigation__item {
  margin: 1rem;
}
.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all 0.4s;
}
.navigation__link:link span, .navigation__link:visited span {
  margin-right: 1.5rem;
  display: inline-block;
}
.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #ffb900;
  transform: translateX(1rem);
}
.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80);
}
.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%;
}
.navigation__icon {
  position: relative;
  margin-top: 3.5rem;
}
.navigation__icon, .navigation__icon::before, .navigation__icon::after {
  width: 3rem;
  height: 2px;
  background-color: #333;
  display: inline-block;
}
.navigation__icon::before, .navigation__icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}
.navigation__icon::before {
  top: -0.8rem;
}
.navigation__icon::after {
  top: 0.8rem;
}
.navigation__button:hover .navigation__icon::before {
  top: -1rem;
}
.navigation__button:hover .navigation__icon::after {
  top: 1rem;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent;
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg);
}
.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.section-about {
  background-color: #f7f7f7;
  padding-top: 17rem;
  margin-top: -20vh;
}
.section-about .img-izu {
  position: relative;
}
.section-about .img-izu .izuka {
  width: 40%;
  position: absolute;
  left: 18rem;
  top: 0;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.section-about2 {
  height: 105vh;
  max-width: 100%;
  background-color: #f7f7f7;
  color: #fff;
  padding-top: 5rem;
}
.section-about2 .feature-box {
  max-width: 114rem;
  margin: 0 auto;
  background-image: linear-gradient(rgba(41, 152, 255, 0.7), rgba(41, 152, 255, 0.7)), url("../img/stones-g93c526508_1920.jpg");
  padding: 2.5rem 5rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
  margin-bottom: 3rem;
  transform: skewY(-2deg);
  font-size: 1.76rem;
  position: relative;
}
.section-about2 .feature-box .fb-span {
  position: absolute;
  left: 0;
  top: -2rem;
  color: #fff;
  padding: 0.5rem;
  text-transform: uppercase;
  font-size: 2.08rem;
  background-image: linear-gradient(rgba(41, 152, 255, 0.8), rgba(86, 67, 250, 0.8));
  transform: skewY(2deg);
}

.section-quotes {
  height: 150vh;
  max-width: 100%;
  background-image: linear-gradient(rgba(126, 213, 111, 0.6), rgba(126, 213, 111, 0.6)), url("../img/stones-g59bf854f1_1920.jpg");
  background-size: cover;
  background-position: top;
  padding-top: 5rem;
}

.quote {
  max-width: 100%;
  margin: 0 auto;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 255, 255, 0.6);
  padding: 4rem;
  height: 23rem;
}
.quote-figure {
  width: 15rem;
  height: 15rem;
  float: left;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  transform: translateX(-3rem);
  position: relative;
  background-size: cover;
  background-position: top;
}
.quote-caption {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, 20%);
  text-transform: uppercase;
  font-size: 2.08rem;
  text-align: center;
  color: #fff;
}
.quote-text {
  font-size: 1.36rem;
  padding-top: 1rem;
  color: #333;
}
.quote_img {
  height: 100%;
  filter: blur(2px) brightness(70%);
}

.section-logopedia {
  background-color: #f7f7f7;
  padding: 10rem 0;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}
.section-logopedia .paragraph {
  padding-right: 5rem;
}
.section-logopedia .img-kislany .kislany {
  width: 90%;
  left: 10rem;
  top: 0;
  box-shadow: 0 1rem 2rem rgba(255, 119, 48, 0.2);
}

.section-nyelvlokes {
  height: 210vh;
  max-width: 100%;
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba(170, 80, 168, 0.5), rgba(137, 20, 119, 0.5)), url(../img/sea-stones-g33b8e1112_1920.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;
}
.section-nyelvlokes > * {
  transform: skewY(7deg);
}

.nyelvlokes-text {
  color: #f7f7f7;
  font-size: 1.76rem;
  padding: 1rem 20rem;
}

.nyelvlokes-head-text {
  color: #f7f7f7;
  font-size: 2.4rem;
  background-color: #891477;
  padding: 3rem 20rem;
}

.nyelvlokes-area {
  position: relative;
}

.nyelvlokes-gomb {
  color: #f7f7f7;
  border-radius: 50%;
}
.nyelvlokes-gomb-1 {
  background-color: #2998ff;
  height: 30.8rem;
  width: 30.8rem;
  position: absolute;
  left: 15rem;
  top: 11rem;
}
.nyelvlokes-gomb-2 {
  background-color: #ffb900;
  height: 30.8rem;
  width: 30.8rem;
  position: absolute;
  left: 70rem;
  top: 14rem;
}
.nyelvlokes-gomb-3 {
  background-color: #7ed56f;
  height: 35.2rem;
  width: 35.2rem;
  position: absolute;
  left: 43rem;
  top: -4rem;
}
.nyelvlokes-gomb-4 {
  background-color: #aa50a8;
  height: 33rem;
  width: 33rem;
  position: absolute;
  left: 40rem;
  top: 23rem;
}

.nyelvlokes-text-cell {
  text-align: center;
  padding: 5rem 2rem;
  font-size: 2.08rem;
}

.nyelv-text-top {
  text-transform: uppercase;
  padding: 2rem 2rem;
  border-bottom: 1px dashed #f7f7f7;
}

.nyelv-text-bottom {
  padding: 2rem 2rem;
}

.section-tulerzekeny {
  background-color: #f7f7f7;
  margin-top: -10rem;
  padding: 20rem 0 10rem 0;
}
.section-tulerzekeny .paragraph {
  padding-right: 5rem;
}
.section-tulerzekeny .img-kisgyerek .kisgyerek {
  width: 90%;
  left: 10rem;
  top: 0;
  box-shadow: 0 1rem 2rem rgba(204, 37, 37, 0.2);
}

.copyright {
  height: 15rem;
  background-color: #333;
  color: #f7f7f7;
  text-align: center;
  padding: 7rem 0;
}

.businesscard {
  background-color: #fff;
  height: 21rem;
  width: 21rem;
  position: fixed;
  top: 6rem;
  left: 6rem;
  border-radius: 50%;
  z-index: 3000;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 5rem 0;
}
.businesscard a:link,
.businesscard a:visited {
  text-decoration: none;
  color: #1098ad;
}
.businesscard a:hover {
  color: orangered;
  text-decoration: underline orangered;
}

.tel,
.email {
  font-size: 1.6rem;
}

.nev {
  font-size: 2.4rem;
}/*# sourceMappingURL=main.css.map */