.header {
  height: 95vh;
  max-width: 100%;
  background-image: linear-gradient(
      rgba($color-white, 0.6),
      rgba($color-white, 0.6)
    ),
    url("../img/stones-g93c526508_1920.jpg");
  // url("../img/pebble-g422b4f62b_1920.jpg");

  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  position: relative;

  &__logo-box {
    position: absolute;
    left: 50rem;
    top: 4rem;
  }

  &__logo {
    height: 18rem;
  }

  &__text-box {
    // position: absolute;
    // left: 50%;
    // top: 40%;
    // transform: translate(-50%, -50%);
    color: $color-grey-dark-3;
    text-align: center;
    padding-top: 25rem;
    // max-width: 80%;
  }
}
