.navigation {
  position: relative;
}

.btn-mobile-nav {
  border: none;
  // background: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-white;
  height: 8rem;
  width: 8rem;
  position: fixed;
  top: 6rem;
  right: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba($color-black, 0.1);

  @include respond(tab-land) {
    top: 5rem;
    right: 5rem;
  }

  @include respond(tab-port) {
    top: 4rem;
    right: 4rem;
  }

  @include respond(phone) {
    top: 3rem;
    right: 3rem;
  }
}

.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: $color-grey-dark-3;
  transform: scale(90%);
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.main-nav {
  background-color: rgba($color-white, 0.98);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  transform: translateX(100%);
  z-index: 1500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.8s ease-in;

  /* Hide navigation */
  /* Allows NO transitions at all */
  /* display: none; */

  /* 1) Hide it visually */
  opacity: 0;

  /* 2) Make it unaccessible to mouse and keyboard */
  pointer-events: none;

  /* 3) Hide it from screen readers */
  visibility: hidden;
}

.nav-open .main-nav {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.nav-open .icon-mobile-nav[name="close-outline"] {
  display: block;
}

.nav-open .icon-mobile-nav[name="menu-outline"] {
  display: none;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
  flex-direction: column;
  gap: 4.8rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  font-size: 2.5rem;
  color: $color-dark-orange;
  font-weight: 300;
  padding: 1rem 2rem;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    $color-light-orange 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.main-nav-link:hover,
.main-nav-link:active {
  background-position: 100%;
  color: $color-white;
  transform: translateX(1rem);
}
