body {
  font-family: "Lato", sans-serif;
  font-size: $default-font-size;
  font-weight: 400;
  line-height: 1.6;
  color: $color-grey-dark;
}

.heading-pri {
  text-transform: uppercase;

  &--main {
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 1.1rem;
    animation: moveFromLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    padding-bottom: 3rem;

    @include respond(tab-land) {
      font-size: 5rem;
      font-weight: 700;
      letter-spacing: 1.05rem;
      padding-bottom: 2.5rem;
    }

    @include respond(tab-port) {
      font-size: 4rem;
      font-weight: 700;
      letter-spacing: 1rem;
      padding-bottom: 3rem;
    }

    @include respond(phone) {
      font-size: 3.5rem;
      font-weight: 700;
      letter-spacing: 0.95rem;
      padding-bottom: 10rem;
    }
  }

  &--sub {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1rem;
    animation: moveFromRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

    // @include respond(tab-land) {
    //   font-size: 1.7rem;
    //   letter-spacing: 0.95rem;
    // }

    // @include respond(tab-port) {
    //   font-size: 1.6rem;
    //   letter-spacing: 0.9rem;
    // }

    // @include respond(phone) {
    //   font-size: 1.5rem;
    //   letter-spacing: 0.85rem;
    // }
  }
}

.heading-secondary {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  letter-spacing: 0.2rem;
}

.hs-color-blue {
  background-image: linear-gradient(
    to right,
    $color-light-blue,
    $color-dark-blue
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hs-color-green {
  background-image: linear-gradient(
    to right,
    $color-light-green,
    $color-dark-green
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: $color-grey-light-1;
}

.hs-color-orange {
  background-image: linear-gradient(
    to right,
    $color-light-orange,
    $color-dark-orange
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hs-color-red {
  background-image: linear-gradient(
    to right,
    $color-light-red,
    $color-dark-red
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.hs-color-purple {
  background-image: linear-gradient(
    to right,
    $color-light-purple,
    $color-dark-purple
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: $color-grey-light-1;
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
  color: $color-grey-dark-3;
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
