.section-about {
  background-color: $color-grey-light-1;
  padding-top: 17rem;
  margin-top: -20vh;

  .rowflex {
    max-width: $grid-width;
    margin: 0 auto;
    display: flex;
    column-gap: calc($gutter-vertical * 2);
    justify-content: space-between;

    .rolam {
      padding: 0 2rem;
    }

    @include respond(tab-port) {
      column-gap: $gutter-vertical;
    }

    @include respond(phone) {
      flex-direction: column;
      column-gap: 0;
      row-gap: $gutter-horizontal-small;
      align-items: center;
    }

    .izuka {
      // display: block;
      box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
    }
  }
}

.section-about2 {
  background-color: $color-grey-light-1;
  color: $color-white;
  padding-top: 5rem;
  padding-bottom: 5rem;

  .feature-box {
    max-width: $grid-width;
    margin: 0 auto;
    background-image: linear-gradient(rgba($color-light-blue, 0.7), rgba($color-light-blue, 0.7)),
      url("../img/stones-g93c526508_1920.jpg");
    padding: 2.5rem 5rem;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.15);
    margin-bottom: 3rem;
    transform: skewY(-2deg);
    font-size: $default-font-size * 1.1;
    position: relative;

    .fb-span {
      position: absolute;
      left: 0;
      top: -2rem;
      color: $color-white;
      padding: 0.5rem;
      text-transform: uppercase;
      font-size: $default-font-size * 1.3;
      background-image: linear-gradient(rgba($color-light-blue, 0.8), rgba($color-dark-blue, 0.8));
      transform: skewY(2deg);
    }
  }
}

.section-quotes {
  background-image: linear-gradient(rgba($color-light-green, 0.6), rgba($color-light-green, 0.6)),
    url("../img/stones-g59bf854f1_1920.jpg");

  background-size: cover;
  background-position: top;
  padding-top: 3%;
  padding-bottom: 3%;

  .rowflexq {
    max-width: $grid-width;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .quote {
      box-shadow: 0 3rem 6rem rgba($color-black, 0.15);
      background-color: rgba($color-white, 0.6);
      padding: 2rem;
      display: flex;
      column-gap: 1.5rem;

      @include respond(phone) {
        flex-direction: column;
        column-gap: 0;
        row-gap: calc($gutter-horizontal-small/2);
        align-items: center;
      }

      &-figure {
        width: 35rem;
        height: 10rem;
        background-image: linear-gradient(rgba($color-white, 0.5), rgba($color-white, 0.5)),
          url("/img/stones-g59bf854f1_1920.jpg-verysmall.jpg");
        clip-path: circle(45% at 50% 50%);
        background-position: top;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-grey-dark-3;

        @include respond(phone) {
          width: 11rem;
          height: 11rem;
        }
      }

      .qtext {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .qcaption {
        text-transform: uppercase;
        font-weight: 700;
      }

      .qdate {
        font-size: calc($default-font-size / 1.3);
        text-transform: lowercase;
        font-style: italic;
      }

      &-text {
        font-size: calc($default-font-size * 0.9);
        padding-bottom: 1rem;
        color: $color-grey-dark-3;
      }
    }
  }
}

.section-logopedia {
  background-color: $color-grey-light-1;
  padding: 5rem 0 15rem 0;
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

  .rowflexlogo {
    max-width: $grid-width;
    margin: 5rem auto;
    display: flex;
    column-gap: $gutter-vertical * 2;
    // justify-content: center;
    align-items: flex-start;

    @include respond(tab-port) {
      column-gap: $gutter-vertical;
    }

    @include respond(phone) {
      flex-direction: column;
      column-gap: 0;
      row-gap: $gutter-horizontal-small;
      align-items: center;
    }
  }

  @include respond(tab-port) {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  .logo-text {
    @include respond(phone) {
      padding-bottom: 3rem;
    }
  }

  .paragraph {
    @include respond(tab-port) {
      padding-right: 0;
    }
  }

  .img-kislany2 {
    @include respond(phone) {
      order: 1;
    }
  }

  .kislany {
    width: 40rem;
    box-shadow: 0 1rem 2rem rgba($color-dark-orange, 0.2);

    @include respond(phone) {
      width: 30rem;
    }
  }
}

.section-nyelvlokes {
  // max-width: 100%;
  padding: 10rem 0;
  background-image: linear-gradient(to right bottom, rgba($color-light-purple, 0.5), rgba($color-dark-purple, 0.5)),
    url(../img/sea-stones-g33b8e1112_1920.jpg);
  background-size: cover;
  transform: skewY(-7deg);
  margin-top: -10rem;

  & > * {
    transform: skewY(7deg);
  }
}

.nyelvlokes-text {
  color: $color-grey-light-1;
  font-size: calc($default-font-size * 1.1);
  padding: 1rem 20rem;

  @include respond(phone) {
    padding: 1rem 5rem;
  }
}

.nyelvlokes-head-text {
  color: $color-grey-light-1;
  font-size: calc($default-font-size * 1.5);
  background-color: $color-dark-purple;
  padding: 3rem 20rem;

  @include respond(phone) {
    padding: 1rem 5rem;
  }
}

.nyelvlokes-area {
  position: relative;
  max-width: $grid-width;
  margin: 0 auto;
}

.nyelvlokes-gomb {
  color: $color-grey-light-1;
  border-radius: 50%;

  &-1 {
    background-color: $color-light-blue;
    height: 22rem * 1.4;
    width: 22rem * 1.4;
    position: absolute;
    left: 15rem;
    top: 11rem;

    @include respond(phone) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
  }

  &-2 {
    background-color: $color-light-orange;
    height: 22rem * 1.4;
    width: 22rem * 1.4;
    position: absolute;
    left: 70rem;
    top: 14rem;

    @include respond(phone) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      margin-top: -12%;
    }
  }

  &-3 {
    background-color: $color-light-green;
    height: 22rem * 1.6;
    width: 22rem * 1.6;
    position: absolute;
    left: 43rem;
    top: -4rem;

    @include respond(phone) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      margin-top: -12%;
    }
  }

  &-4 {
    background-color: $color-light-purple;
    height: 22rem * 1.5;
    width: 22rem * 1.5;
    position: absolute;
    left: 40rem;
    top: 23rem;

    @include respond(phone) {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
      margin-top: -12%;
    }
  }
}

.nyelvlokes-text-cell {
  text-align: center;
  padding: 5rem 2rem;
  font-size: $default-font-size * 1.3;
}

.nyelv-text-top {
  text-transform: uppercase;
  padding: 2rem 2rem;
  border-bottom: 1px dashed $color-grey-light-1;
}
.nyelv-text-bottom {
  padding: 2rem 2rem;
}

.section-tulerzekeny {
  background-color: $color-grey-light-1;
  margin-top: -10rem;
  padding: 20rem 0 1rem 0;

  .rowflextul {
    max-width: $grid-width;
    margin: 5rem auto;
    display: flex;
    column-gap: calc($gutter-vertical * 2);
    align-items: flex-start;

    @include respond(tab-port) {
      column-gap: $gutter-vertical;
    }

    @include respond(phone) {
      flex-direction: column;
      column-gap: 0;
      row-gap: $gutter-horizontal-small;
      align-items: center;
    }
  }

  .tul-text {
    @include respond(phone) {
      padding-bottom: 3rem;
    }
  }

  .paragraph {
    @include respond(tab-port) {
      padding-right: 0;
    }
  }

  .img-kisgyerek2 {
    @include respond(phone) {
      order: 1;
    }
  }

  .kisgyerek {
    width: 40rem;
    box-shadow: 0 1rem 2rem rgba($color-dark-orange, 0.2);

    @include respond(phone) {
      width: 30rem;
    }
  }

  a:link,
  a:visited {
    text-decoration: none;
    color: $color-dark-red;
  }

  a:hover {
    color: $color-light-red;
    text-decoration: underline $color-light-red;
  }
}

.copyright {
  height: 10rem;
  background-color: $color-grey-dark-3;
  color: $color-grey-light-1;
  text-align: center;
  padding: 3.5rem 0;
}
